* {
  margin: 0;
  padding: 0;
  box-sizing: border box;
}

#header {
  padding: 1% 8%;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  border-bottom: 5px solid #019fde;
}
#header .navbar-brand {
  background-image: url("../img/logo-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  width: 150px;
}
#header .nav-link {
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
}
#header .nav-link:hover {
  color: grey;
  transition: all 0.3s ease-in-out;
}
#header .contact {
  border-radius: 4px;
  background: #019fde;
  background: linear-gradient(90deg, #019fde 8%, #90bed8 49%, #7d9add 92%);
  color: white;
}
#header .contact:hover {
  color: white;
  transition: all 0.2s ease-in-out;
  background-color: #326ec9;
}

@media (max-width: 991px) {
  #header .nav-link {
    text-align: center;
  }
}
#testimonials .testimonial-img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  overflow: hidden;
}
#testimonials .testimonial-img-one {
  background-image: url("/img/logo2-removebg-preview.png");
  background-repeat: no-repeat;
}

#main {
  background: #019fde;
  background: linear-gradient(90deg, #019fde 8%, #90bed8 49%, #7d9add 92%);
  font-family: "Source Sans Pro", sans-serif;
  padding: 6rem 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .main-container {
  padding: 0;
  color: white;
}
#main .main-container .img-container {
  padding: 0;
}
#main .main-container .title {
  padding: 0;
}
#main .main-container img {
  width: 450px;
  height: 250px;
}
#main .main-container .title-heading {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white;
}
#main .main-container .title-description {
  font-size: 1.2rem;
  color: white;
}

@media (max-width: 425px) {
  #testimonials .testimonial-img {
    height: 65vh;
    object-fit: cover;
    overflow: hidden;
  }
}
@media (max-width: 991px) {
  #main .img-container {
    text-align: center;
    padding: 0;
  }
  #main .main-container img {
    width: 350px;
    height: 250px;
    margin-bottom: 2rem;
  }
  #main .title-heading {
    font-size: 2rem;
    text-align: center;
  }
  #main .title-description {
    text-align: center;
  }
}
@media (max-width: 425px) {
  #main .main-container img {
    width: 250px;
    height: 150px;
  }
}
#servicios {
  padding: 6% 8%;
}
#servicios h1 {
  color: #019fde;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin-bottom: 3rem;
}
#servicios .card-container {
  display: flex;
  justify-content: center;
}
#servicios .card {
  margin-bottom: 1rem;
}
#servicios .card-title {
  color: #019fde;
}

#productos {
  background: #019fde;
  background: linear-gradient(90deg, #019fde 8%, #90bed8 49%, #7d9add 92%);
  padding: 4% 8%;
}
#productos h1 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}
#productos .product-container {
  text-align: center;
}

@media (max-width: 1024px) {
  .product-img {
    width: 200px;
    height: 200px;
    text-align: center;
  }

  .product-container {
    text-align: center;
  }
}
.footer {
  padding: 4% 8%;
  font-family: "Source Sans Pro", sans-serif;
}
.footer .icon {
  text-align: center;
}
.footer .fa-brands {
  color: black;
}
.footer:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: black;
}

/*# sourceMappingURL=index.css.map */
