#testimonials{
    .testimonial-img{
      width: 100%;
      height: 85vh;
     object-fit: cover;
     overflow: hidden;
  
    }
    .testimonial-img-one{
        background-image: url('/img/logo2-removebg-preview.png');
        background-repeat: no-repeat;
        
    }
}
#main{
    background-color: white;
    font-family: $fontStyle;
    padding: 5% 8%;
    .main-container{
        display: flex;
        justify-content: center;
        align-items: center;
        
        color: white;
        img{
            width: 450px;
            height: 250px;
        }
        .title-heading{
            font-size: 3.4rem;
            font-weight: bold;
            margin-bottom: 2rem;
            color: black;
        }
        .title-description{
            font-size: 1.2rem;
            color: black;

        }
    }
}

@media(max-width:425px){
    #testimonials{
        .testimonial-img{
            height: 65vh;
            object-fit: cover;
            overflow: hidden;
            
        }
    }
}
@media(max-width:991px){

    #main{
        .img-container{
            text-align: center;
        }
        .main-container img{
            width: 350px;
            height: 250px;
            margin-bottom: 2rem;
        }
        .title-heading{
            font-size: 2rem;
            text-align:center;
        }
        .title-description{
            text-align: center;
        }
    }
}

@media(max-width:425px){
    #main{
        .main-container img{
            width: 250px;
            height: 150px;
        }
    }
    
}