#servicios{
    padding: 6% 8%;
    
    h1{
        
        color: #019fde;
        font-family: $fontStyle;
        text-align: center;
        margin-bottom: 3rem;
    }
    .card-container{
        display: flex;
        justify-content: center;
    }
    .card{
        margin-bottom: 1rem;
    }
    .card-title{
        // background: -webkit-linear-gradient(90deg, rgba(1,159,222,1) 8%, rgba(144,190,216,1) 49%, rgba(125,154,221,1) 92%);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        color: #019fde;
    }
}