$sectionColor:#458fcc;
$universalPadding:2% 8%; 
$fontStyle:'Source Sans Pro', sans-serif;
$fontColor:#fff;
*{
    margin: 0;
    padding: 0;
    box-sizing: border box;

}

@import './header';
@import './main';
@import './servicios';
@import './productos.scss';
@import './footer';

